<main>
  <h1 class="fs-1">Dados do Livro</h1>
  <form (submit)="incluir()" ngNativeValidate>
    <div class="mb-3">
      <label for="titulo" class="form-label">Título</label>
      <input
        id="titulo"
        type="text"
        class="form-control"
        [(ngModel)]="livro.titulo"
        name="titulo"
        required
        minlength="3"
      />
    </div>

    <div class="mb-3">
      <label for="resumo" class="form-label">Resumo</label>
      <textarea
        id="resumo"
        class="form-control"
        [(ngModel)]="livro.resumo"
        name="resumo"
        required
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
        <label for="editora" class="form-label">Editora</label>
        <select
          id="editora"
          class="form-select"
          [(ngModel)]="livro.codEditora"
          name="codEditora"
          required
        >
          <option *ngFor="let editora of editoras" [value]="editora.codEditora">
            {{ editora.nome }}
          </option>
        </select>
      </div>
    <div class="mb-3">
      <label for="autores" class="form-label">Autores (1 por linha)</label>
      <textarea
        id="autores"
        class="form-control"
        [(ngModel)]="autoresForm"
        name="autores"
        required
        rows="3"
      ></textarea>
    </div>


    <button class="btn btn-primary" type="submit">Salvar Livro</button>
  </form>
</main>
